body {
    background-color: var(--background);
}

h1 {
    font-family: 'Next Art';
    font-weight: 500;
    font-size: 54px;
}

button {
    border: none;
    box-shadow: 0px 14px 18px -1px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

/*================================== 
                                WORK
==================================*/

.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__container {
    margin: 0 auto;
    max-width: 1640px;
    padding: 0 20px;
    box-sizing: content-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.logo-text {
    border-left: 2px solid var(--main);
    padding-left: 40px;
    margin-left: 40px;
}

.header__menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
}

.menu__list {
    display: flex;
}

.header-link {
    color: var(--on-pm-and-sc-50);
    padding-bottom: 5px;

    transition: all .1s linear;
}

.header-link.active {
    color: var(--on-background);
}

.menu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__item a {
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;

    transition: all .1s linear;
}

.menu__item a:hover {
    color: black;
    padding-bottom: 7px;
    border-bottom: 3px solid var(--main);

    transition: all .1s linear;
}

.menu__item:not(:last-child) {
    margin-right: 50px;
}

.header__social {
    display: flex;
    align-items: center;
}

.header__social a {
    margin: 0 15px 0 10px;
}

.social__item svg {
    width: 22px;
    height: 20px;
    fill: rgba(0, 0, 0, 0.5);
    transition: all .1s linear;
}

.social__item svg:hover {
    fill: black;
    transition: all .1s linear;
}

.tel {
    border-left: 2px solid var(--main);
    color: black;
    padding-left: 25px;
}

/*================================== 
                              HEADER
==================================*/

.main-block {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-block__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 383px 0 0 0;
}

.main-block__title {
    color: var(--on-pm-and-sc);

    overflow: hidden;

    max-width: 1382px;
}

.main-block__title h1 {
    position: relative;
}

.main-block__title span {
    display: inline-block;
}

.main-block__title h1::after {
    bottom: 25px;
    right: 0;
    content: "";
    display: inline-block;
    width: 16%;
    height: 4px;
    background-color: var(--main);
    position: absolute;
}

small {
    position: relative;
    font-family: 'Next Art';
    font-weight: 300;
    font-size: 17px;
    display: block;
    text-align: right;
    font-size: 18px !important;
}

small::before {
    top: 5px;
    left: 0;
    content: "";
    display: inline-block;
    width: 58%;
    height: 4px;
    background-color: var(--main);
    position: absolute;
}

.main-block__title h1 {
    text-transform: uppercase;
}

.color {
    color: var(--main);
}

.main-block__button {
    margin-top: 80px;
    background-color: var(--main-50);
    color: var(--on-pm-and-sc-50);
    box-shadow: 0px 14px 18px -1px rgba(0, 0, 0, 0.16);
    padding: 20px 35px;
    transition: all .1s linear;
}

.main-block__button:hover {
    background-color: var(--main);
    color: var(--on-pm-and-sc);

    transition: all .1s linear;
}

.main-block__container svg {
    fill: var(--on-pm-and-sc-50);
    width: 100%;
    margin-top: 135px;
    margin-bottom: 110px;
}

/*================================== 
                          MAIN-BLOCK
==================================*/

._advantages {
    position: relative;
}

.advantages__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 110px 0 160px 0;
}

.element__top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.element__bot {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.advantages__items {
    z-index: 4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 100px;
}

.advantages__item {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--on-pm-and-sc);

    padding: 30px 0;

    background-color: var(--primary);
    max-width: 520px;

    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(31px);
}

.advantages__item:not(:last-child) {
    margin-right: 60px;
}

.number {
    font-family: 'Next Art';
    font-weight: 800;
    font-size: 200px;
    margin-left: -45px;
    color: #717380;
    width: 50%;
}

.item__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    width: 50%;
}

.item__hr {
    height: 4px;
    width: 100%;
    border: none;
    background-color: var(--main);
    color: var(--main);
    margin: 17px 0 10px 0;
}

/*================================== 
                          ADVANTAGES
==================================*/

._about {
    background: url(../img/about__background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about__container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--on-pm-and-sc);
}

.about__title {
    text-align: center;
    margin-top: 160px;
}

.about__title {
    position: relative;
}

.about__title h2::before {
    top: 25px;
    left: -75%;
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background-color: var(--main);
    position: absolute;
}

.about__title h2::after {
    top: 25px;
    right: -75%;
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background-color: var(--main);
    position: absolute;
}

.about__title h3 {
    margin-top: 30px;
    margin-bottom: 55px;
}

.about__hr {
    max-width: 69px;
    width: 100%;
    height: 6px;
    border: none;
    background-color: var(--main);

    margin-bottom: 55px;
}

.about__text {
    text-align: center;
    max-width: 670px;
    font-weight: 500;
}

.about__container svg {
    fill: var(--on-pm-and-sc-50);
    width: 100%;
    margin-top: 100px;
    margin-bottom: 217px;
}

/*================================== 
                               ABOUT
==================================*/

._cooperation {
    position: relative;
}

.cooperation__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    width: 100%;
    max-width: 1605px;
}

.cooperation__title {
    position: absolute;
    margin-top: -100px;
    background-color: var(--main);
    color: var(--on-pm-and-sc);
    padding: 45px 70px 50px;

    text-align: center;
    max-width: 713px;
}

.cooperation__title h2 {
    margin-bottom: 10px;
}

.cooperation__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 200px;
}

.cooperation__content-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid var(--on-background);
    max-width: 330px;
    width: 100%;

    padding: 50px 30px 50px;

    margin: 32px 40px;
}

legend {
    left: 50%;
    text-transform: uppercase;

    color: var(--main);
    padding: 0 15px;
    background-color: var(--background);
}

.cooperation__container svg {
    fill: var(--main);
    width: 100%;
    margin-top: 120px;
    margin-bottom: 120px;
}

/*================================== 
                         COOPERATION
==================================*/

.contact__container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 150px;
}

.contact__wrapper {
    position: absolute;
    background-color: var(--primary);
    max-width: 1600px;
    width: 100%;
    height: 650px;
    z-index: 3;
    transform: translate(-80px, -70px);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.4);
}

.contact__content {
    position: relative;
    max-width: 1600px;
    width: 100%;
    display: flex;
    z-index: 3;
    background-color: var(--primary);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.4);
}

.content__left {
    display: flex;
}

.content__right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 360px;

    margin-left: 115px;
    margin-right: 110px;
}

.content__right h2 {
    color: var(--main);
}

.content__hr {
    position: absolute;
    right: -100%;
    top: 160px;
    width: 100%;
    height: 6px;
    background-color: var(--main);
    border: none;
}

.content__right p {
    font-size: 26px;
}

.content__right .p_right-1 {
    color: var(--on-pm-and-sc);
}

.content__right .p_right-2 {
    color: var(--main);
}

.p_right-1 {
    margin: 50px 0 20px;
}

.contact__button {
    border: none;
    font-size: 18px;
    background-color: var(--main-50);
    color: var(--on-pm-and-sc-50);
    box-shadow: 0px 14px 18px -1px rgba(0, 0, 0, 0.16);
    padding: 20px 47px;
    transition: all .1s linear;
    max-width: 250px;
    margin-top: 70px;
}

.contact__button:hover {
    background-color: var(--main);
    color: var(--on-pm-and-sc);

    transition: all .1s linear;
}

/*================================== 
                             CONTACT
==================================*/

._footer {
    color: var(--on-pm-and-sc);
    background-color: var(--secondary);
}

.footer__container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: var(--on-pm-and-sc-50);
    
    max-width: 1640px;
    margin: 0 auto;

    padding: 40px 20px;
}

.footer__container h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer__left a,
.footer__right a {
    color: var(--on-pm-and-sc);
}

.footer__left a,
.footer__right a:not(:last-child) {
    margin-right: 25px;
}

.footer__right a {
    transition: all .2s linear;
}

.footer__right a:not(:last-child)::after {
    padding-right: 25px;
    border-right: 2px solid var(--main);
}

.footer__right a:hover {
    padding-bottom: 3px;
    border-bottom: 1px solid var(--on-pm-and-sc);
    transition: all .2s linear;
}

/*================================== 
                              FOOTER
==================================*/