._h2 {
    font-family: 'Next Art';
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
}

._h3 {
    font-family: 'Next Art';
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
}

._main-400 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

._main-500 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

._big-main-400 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
}

._big-main-500 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
}

._big-main-700 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
}